@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #323232;
  --light-gray: #d9d9d9;
  --purple: #6100ff;
  --card-bg-light-gray: #dbdbdb;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'General Sans', sans-serif;
}
